@charset "UTF-8";
.content-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "c01 c02" "c03 c02";
    margin: 2%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media (max-width: 800px) {
    .content-container {
        grid-template-columns: 1fr;
        grid-template-areas: "c01" "c02" "c03";
    }
}

.placeholder {
    display: grid;
    background: tomato;
    color: white;
    text-align: center;
    min-height: 10rem;
    align-content: center;
}

.photos {
    grid-area: c01
}

.info {
    grid-area: c02
}

.map {
    grid-area: c03
}