<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Language" content="en" />

  <title>CPH Dorms</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheey" type="text/css" href="/css/styles.css">
  
</head>

<body>
  <div id="root">Hello World</div>




  <script src="/js/bootstrap.bundle.min.js"></script>

</body>
</html>
